.container {
  height: 70vh; /* Full viewport height */
  width: 70vw; /* Full viewport width */
  display: flex;
  flex-direction: column;
  background-color: #6E6E6E; /* Gray background for the flow area */
}

.controls {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(40, 40, 40);
  color: #6E6E6E;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px white;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.controls input,
.controls button {
  margin: 5px 0;
}

.react-flow__node-default {
  padding: 10px;
  border: 1px solid #777;
  border-radius: 10px;
  width: 150px;
  word-wrap: break-word;
  background-color: #bdbdbd; /* White background for nodes */
  color: #2e2e2e; /* Black text color for nodes */
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold; /* Bold text inside nodes */
  box-shadow: 0 2px 5px white;
  cursor: move;
}